.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
  font-size: 18px;
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}

.active-log {
  color: var(--color-primary-800);
  text-decoration: none;
  font-size: 22px;
}

.log:hover {
  color: var(--color-primary-800);
}

.log {
  color: var(--color-primary-300);
  text-decoration: none;
  font-size: 22px;
}

.logOut {
  list-style: none;
}
.logOut button {
  text-decoration: none;
  font-size: 18px;
}
